# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
Releases/
android/
Promotional/
.import/*
.*/
.gut*

!.github
!.gutconfig.json
*.import

Assets/kenney_pixelplatformer/Background/background_0000.png

Assets/kenney_pixelplatformer/Background/background_0001.png

Assets/kenney_pixelplatformer/Background/background_0002.png

Assets/kenney_pixelplatformer/Background/background_0003.png

Assets/kenney_pixelplatformer/Background/background_0004.png

Assets/kenney_pixelplatformer/Background/background_0005.png

Assets/kenney_pixelplatformer/Background/background_0006.png

Assets/kenney_pixelplatformer/Background/background_0007.png

Assets/kenney_pixelplatformer/Background/background_0008.png

Assets/kenney_pixelplatformer/Background/background_0009.png

Assets/kenney_pixelplatformer/Background/background_0010.png

Assets/kenney_pixelplatformer/Background/background_0011.png

Assets/kenney_pixelplatformer/Background/tilemap_packed.png

Assets/kenney_pixelplatformer/Background/tilemap.png

Assets/kenney_pixelplatformer/Characters/character_0002.png

Assets/kenney_pixelplatformer/Characters/character_0003.png

Assets/kenney_pixelplatformer/Characters/character_0004.png

Assets/kenney_pixelplatformer/Characters/character_0005.png

Assets/kenney_pixelplatformer/Characters/character_0006.png

Assets/kenney_pixelplatformer/Characters/character_0007.png

Assets/kenney_pixelplatformer/Characters/character_0008.png

Assets/kenney_pixelplatformer/Characters/character_0009.png

Assets/kenney_pixelplatformer/Characters/character_0010.png

Assets/kenney_pixelplatformer/Characters/character_0011.png

Assets/kenney_pixelplatformer/Characters/character_0012.png

Assets/kenney_pixelplatformer/Characters/character_0013.png

Assets/kenney_pixelplatformer/Characters/character_0014.png

Assets/kenney_pixelplatformer/Characters/character_0015.png

Assets/kenney_pixelplatformer/Characters/character_0016.png

Assets/kenney_pixelplatformer/Characters/character_0017.png

Assets/kenney_pixelplatformer/Characters/character_0018.png

Assets/kenney_pixelplatformer/Characters/character_0019.png

Assets/kenney_pixelplatformer/Characters/character_0020.png

Assets/kenney_pixelplatformer/Characters/character_0021.png

Assets/kenney_pixelplatformer/Characters/character_0022.png

Assets/kenney_pixelplatformer/Characters/character_0023.png

Assets/kenney_pixelplatformer/Characters/character_0024.png

Assets/kenney_pixelplatformer/Characters/character_0025.png

Assets/kenney_pixelplatformer/Characters/character_0026.png

Assets/kenney_pixelplatformer/Construct 3/Pixel Platformer.c3p

Assets/kenney_pixelplatformer/Construct 3/Readme.txt

Assets/kenney_pixelplatformer/License.txt

Assets/kenney_pixelplatformer/Preview.png

Assets/kenney_pixelplatformer/SampleA.png

Assets/kenney_pixelplatformer/SampleB.png

Assets/kenney_pixelplatformer/Tilemap/characters_packed.png

Assets/kenney_pixelplatformer/Tilemap/characters.png

Assets/kenney_pixelplatformer/Tilemap/tiles_packed.png

Assets/kenney_pixelplatformer/Tilemap/tiles.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/Thumbs.db

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_01.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_02.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_03.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_04.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_05.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_06.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_07.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_08.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_09.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_10.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_11.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_12.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_13.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_14.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_15.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_16.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_17.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_18.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_19.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_20.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_21.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_22.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_23.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_24.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_25.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_26.png

Assets/kenney_pixelplatformer/Tiles 2/Blue tiles/tileBlue_27.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_01.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_02.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_03.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_04.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_05.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_06.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_07.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_08.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_09.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_10.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_11.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_12.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_13.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_14.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_15.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_16.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_17.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_18.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_19.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_20.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_21.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_22.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_23.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_24.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_25.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_26.png

Assets/kenney_pixelplatformer/Tiles 2/Brown tiles/tileBrown_27.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_01.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_02.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_03.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_04.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_05.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_06.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_07.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_08.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_09.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_10.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_11.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_12.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_13.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_14.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_15.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_16.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_17.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_18.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_19.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_20.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_21.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_22.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_23.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_24.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_25.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_26.png

Assets/kenney_pixelplatformer/Tiles 2/Yellow tiles/tileYellow_27.png

Assets/kenney_pixelplatformer/Tiles/tile_0000.png

Assets/kenney_pixelplatformer/Tiles/tile_0001.png

Assets/kenney_pixelplatformer/Tiles/tile_0002.png

Assets/kenney_pixelplatformer/Tiles/tile_0003.png

Assets/kenney_pixelplatformer/Tiles/tile_0004.png

Assets/kenney_pixelplatformer/Tiles/tile_0005.png

Assets/kenney_pixelplatformer/Tiles/tile_0006.png

Assets/kenney_pixelplatformer/Tiles/tile_0007.png

Assets/kenney_pixelplatformer/Tiles/tile_0008.png

Assets/kenney_pixelplatformer/Tiles/tile_0009.png

Assets/kenney_pixelplatformer/Tiles/tile_0010.png

Assets/kenney_pixelplatformer/Tiles/tile_0011.png

Assets/kenney_pixelplatformer/Tiles/tile_0012.png

Assets/kenney_pixelplatformer/Tiles/tile_0013.png

Assets/kenney_pixelplatformer/Tiles/tile_0014.png

Assets/kenney_pixelplatformer/Tiles/tile_0015.png

Assets/kenney_pixelplatformer/Tiles/tile_0016.png

Assets/kenney_pixelplatformer/Tiles/tile_0017.png

Assets/kenney_pixelplatformer/Tiles/tile_0018.png

Assets/kenney_pixelplatformer/Tiles/tile_0019.png

Assets/kenney_pixelplatformer/Tiles/tile_0020.png

Assets/kenney_pixelplatformer/Tiles/tile_0021.png

Assets/kenney_pixelplatformer/Tiles/tile_0022.png

Assets/kenney_pixelplatformer/Tiles/tile_0023.png

Assets/kenney_pixelplatformer/Tiles/tile_0024.png

Assets/kenney_pixelplatformer/Tiles/tile_0025.png

Assets/kenney_pixelplatformer/Tiles/tile_0026.png

Assets/kenney_pixelplatformer/Tiles/tile_0027.png

Assets/kenney_pixelplatformer/Tiles/tile_0028.png

Assets/kenney_pixelplatformer/Tiles/tile_0029.png

Assets/kenney_pixelplatformer/Tiles/tile_0030.png

Assets/kenney_pixelplatformer/Tiles/tile_0031.png

Assets/kenney_pixelplatformer/Tiles/tile_0032.png

Assets/kenney_pixelplatformer/Tiles/tile_0033.png

Assets/kenney_pixelplatformer/Tiles/tile_0034.png

Assets/kenney_pixelplatformer/Tiles/tile_0035.png

Assets/kenney_pixelplatformer/Tiles/tile_0036.png

Assets/kenney_pixelplatformer/Tiles/tile_0037.png

Assets/kenney_pixelplatformer/Tiles/tile_0038.png

Assets/kenney_pixelplatformer/Tiles/tile_0039.png

Assets/kenney_pixelplatformer/Tiles/tile_0040.png

Assets/kenney_pixelplatformer/Tiles/tile_0041.png

Assets/kenney_pixelplatformer/Tiles/tile_0042.png

Assets/kenney_pixelplatformer/Tiles/tile_0043.png

Assets/kenney_pixelplatformer/Tiles/tile_0044.png

Assets/kenney_pixelplatformer/Tiles/tile_0045.png

Assets/kenney_pixelplatformer/Tiles/tile_0046.png

Assets/kenney_pixelplatformer/Tiles/tile_0047.png

Assets/kenney_pixelplatformer/Tiles/tile_0048.png

Assets/kenney_pixelplatformer/Tiles/tile_0049.png

Assets/kenney_pixelplatformer/Tiles/tile_0050.png

Assets/kenney_pixelplatformer/Tiles/tile_0051.png

Assets/kenney_pixelplatformer/Tiles/tile_0052.png

Assets/kenney_pixelplatformer/Tiles/tile_0053.png

Assets/kenney_pixelplatformer/Tiles/tile_0054.png

Assets/kenney_pixelplatformer/Tiles/tile_0055.png

Assets/kenney_pixelplatformer/Tiles/tile_0056.png

Assets/kenney_pixelplatformer/Tiles/tile_0057.png

Assets/kenney_pixelplatformer/Tiles/tile_0058.png

Assets/kenney_pixelplatformer/Tiles/tile_0059.png

Assets/kenney_pixelplatformer/Tiles/tile_0060.png

Assets/kenney_pixelplatformer/Tiles/tile_0061.png

Assets/kenney_pixelplatformer/Tiles/tile_0062.png

Assets/kenney_pixelplatformer/Tiles/tile_0063.png

Assets/kenney_pixelplatformer/Tiles/tile_0064.png

Assets/kenney_pixelplatformer/Tiles/tile_0065.png

Assets/kenney_pixelplatformer/Tiles/tile_0066.png

Assets/kenney_pixelplatformer/Tiles/tile_0067.png

Assets/kenney_pixelplatformer/Tiles/tile_0068.png

Assets/kenney_pixelplatformer/Tiles/tile_0069.png

Assets/kenney_pixelplatformer/Tiles/tile_0070.png

Assets/kenney_pixelplatformer/Tiles/tile_0071.png

Assets/kenney_pixelplatformer/Tiles/tile_0072.png

Assets/kenney_pixelplatformer/Tiles/tile_0073.png

Assets/kenney_pixelplatformer/Tiles/tile_0074.png

Assets/kenney_pixelplatformer/Tiles/tile_0075.png

Assets/kenney_pixelplatformer/Tiles/tile_0076.png

Assets/kenney_pixelplatformer/Tiles/tile_0077.png

Assets/kenney_pixelplatformer/Tiles/tile_0078.png

Assets/kenney_pixelplatformer/Tiles/tile_0079.png

Assets/kenney_pixelplatformer/Tiles/tile_0080.png

Assets/kenney_pixelplatformer/Tiles/tile_0081.png

Assets/kenney_pixelplatformer/Tiles/tile_0082.png

Assets/kenney_pixelplatformer/Tiles/tile_0083.png

Assets/kenney_pixelplatformer/Tiles/tile_0084.png

Assets/kenney_pixelplatformer/Tiles/tile_0085.png

Assets/kenney_pixelplatformer/Tiles/tile_0086.png

Assets/kenney_pixelplatformer/Tiles/tile_0087.png

Assets/kenney_pixelplatformer/Tiles/tile_0088.png

Assets/kenney_pixelplatformer/Tiles/tile_0089.png

Assets/kenney_pixelplatformer/Tiles/tile_0090.png

Assets/kenney_pixelplatformer/Tiles/tile_0091.png

Assets/kenney_pixelplatformer/Tiles/tile_0092.png

Assets/kenney_pixelplatformer/Tiles/tile_0093.png

Assets/kenney_pixelplatformer/Tiles/tile_0094.png

Assets/kenney_pixelplatformer/Tiles/tile_0095.png

Assets/kenney_pixelplatformer/Tiles/tile_0096.png

Assets/kenney_pixelplatformer/Tiles/tile_0097.png

Assets/kenney_pixelplatformer/Tiles/tile_0098.png

Assets/kenney_pixelplatformer/Tiles/tile_0099.png

Assets/kenney_pixelplatformer/Tiles/tile_0100.png

Assets/kenney_pixelplatformer/Tiles/tile_0101.png

Assets/kenney_pixelplatformer/Tiles/tile_0102.png

Assets/kenney_pixelplatformer/Tiles/tile_0103.png

Assets/kenney_pixelplatformer/Tiles/tile_0104.png

Assets/kenney_pixelplatformer/Tiles/tile_0105.png

Assets/kenney_pixelplatformer/Tiles/tile_0106.png

Assets/kenney_pixelplatformer/Tiles/tile_0107.png

Assets/kenney_pixelplatformer/Tiles/tile_0108.png

Assets/kenney_pixelplatformer/Tiles/tile_0109.png

Assets/kenney_pixelplatformer/Tiles/tile_0110.png

Assets/kenney_pixelplatformer/Tiles/tile_0111.png

Assets/kenney_pixelplatformer/Tiles/tile_0112.png

Assets/kenney_pixelplatformer/Tiles/tile_0113.png

Assets/kenney_pixelplatformer/Tiles/tile_0114.png

Assets/kenney_pixelplatformer/Tiles/tile_0115.png

Assets/kenney_pixelplatformer/Tiles/tile_0116.png

Assets/kenney_pixelplatformer/Tiles/tile_0117.png

Assets/kenney_pixelplatformer/Tiles/tile_0118.png

Assets/kenney_pixelplatformer/Tiles/tile_0119.png

Assets/kenney_pixelplatformer/Tiles/tile_0120.png

Assets/kenney_pixelplatformer/Tiles/tile_0121.png

Assets/kenney_pixelplatformer/Tiles/tile_0122.png

Assets/kenney_pixelplatformer/Tiles/tile_0123.png

Assets/kenney_pixelplatformer/Tiles/tile_0124.png

Assets/kenney_pixelplatformer/Tiles/tile_0125.png

Assets/kenney_pixelplatformer/Tiles/tile_0126.png

Assets/kenney_pixelplatformer/Tiles/tile_0127.png

Assets/kenney_pixelplatformer/Tiles/tile_0128.png

Assets/kenney_pixelplatformer/Tiles/tile_0129.png

Assets/kenney_pixelplatformer/Tiles/tile_0130.png

Assets/kenney_pixelplatformer/Tiles/tile_0131.png

Assets/kenney_pixelplatformer/Tiles/tile_0132.png

Assets/kenney_pixelplatformer/Tiles/tile_0133.png

Assets/kenney_pixelplatformer/Tiles/tile_0134.png

Assets/kenney_pixelplatformer/Tiles/tile_0135.png

Assets/kenney_pixelplatformer/Tiles/tile_0136.png

Assets/kenney_pixelplatformer/Tiles/tile_0137.png

Assets/kenney_pixelplatformer/Tiles/tile_0138.png

Assets/kenney_pixelplatformer/Tiles/tile_0139.png

Assets/kenney_pixelplatformer/Tiles/tile_0140.png

Assets/kenney_pixelplatformer/Tiles/tile_0141.png

Assets/kenney_pixelplatformer/Tiles/tile_0142.png

Assets/kenney_pixelplatformer/Tiles/tile_0143.png

Assets/kenney_pixelplatformer/Tiles/tile_0144.png

Assets/kenney_pixelplatformer/Tiles/tile_0145.png

Assets/kenney_pixelplatformer/Tiles/tile_0146.png

Assets/kenney_pixelplatformer/Tiles/tile_0147.png

Assets/kenney_pixelplatformer/Tiles/tile_0148.png

Assets/kenney_pixelplatformer/Tiles/tile_0149.png

Assets/kenney_pixelplatformer/Tiles/tile_0150.png

Assets/kenney_pixelplatformer/Tiles/tile_0151.png

Assets/kenney_pixelplatformer/Tiles/tile_0152.png

Assets/kenney_pixelplatformer/Tiles/tile_0153.png

Assets/kenney_pixelplatformer/Tiles/tile_0154.png

Assets/kenney_pixelplatformer/Tiles/tile_0155.png

Assets/kenney_pixelplatformer/Tiles/tile_0156.png

Assets/kenney_pixelplatformer/Tiles/tile_0157.png

Assets/kenney_pixelplatformer/Tiles/tile_0158.png

Assets/kenney_pixelplatformer/Tiles/tile_0159.png

Assets/kenney_pixelplatformer/Tiles/tile_0160.png

Assets/kenney_pixelplatformer/Tiles/tile_0161.png

Assets/kenney_pixelplatformer/Tiles/tile_0162.png

Assets/kenney_pixelplatformer/Tiles/tile_0163.png

Assets/kenney_pixelplatformer/Tiles/tile_0164.png

Assets/kenney_pixelplatformer/Tiles/tile_0165.png

Assets/kenney_pixelplatformer/Tiles/tile_0166.png

Assets/kenney_pixelplatformer/Tiles/tile_0167.png

Assets/kenney_pixelplatformer/Tiles/tile_0168.png

Assets/kenney_pixelplatformer/Tiles/tile_0169.png

Assets/kenney_pixelplatformer/Tiles/tile_0170.png

Assets/kenney_pixelplatformer/Tiles/tile_0171.png

Assets/kenney_pixelplatformer/Tiles/tile_0172.png

Assets/kenney_pixelplatformer/Tiles/tile_0173.png

Assets/kenney_pixelplatformer/Tiles/tile_0174.png

Assets/kenney_pixelplatformer/Tiles/tile_0175.png

Assets/kenney_pixelplatformer/Tiles/tile_0176.png

Assets/kenney_pixelplatformer/Tiles/tile_0177.png

Assets/kenney_pixelplatformer/Tiles/tile_0178.png

Assets/kenney_pixelplatformer/Tiles/tile_0179.png

Assets/kenney_pixelplatformer/Visit Kenney.url

Assets/kenney_pixelplatformer/Visit Patreon.url
